
<div class="product-table">
            <table>
                <thead>  
                  <tr>
                    <th>ID</th>
                     <th>Name</th>
                     <th>Descriptions</th>
                     <th>Price</th>
                     <th>Products</th>
                     <th>Actions</th>
                  </tr>
                </thead>

               <tbody>
                <% products.forEach(product=>{ %>
                <tr>
                <td><%= product.id %></td>
                <td><%= product.name %></td>
                <td><%= product.description %></td>
                <td><%= product.price %></td>
                <td><img src="<%= product.image %>" alt="<%= product.name %>" srcset=""></td>
                <td><a href="/update-product/<%=product.id %>" id="update-btn">Update</a></td>
                <td><a href="/delete-product/<%=product.id %>" id="delete-btn">Delete</a></td>

              </tr>
            <%})%> 

             </tbody>
             
            </table>
</div>
       
