

<div class="product-form">
<h1>update product</h1>
<%if(errorMessage){%>
<div class="error">
    <%=errorMessage%>
</div>
<%}%>
<form action="/update-product" method="post">
    <input type="hidden" id="id" name="id" value="<%=product.id%>">
    <label for="name">Product name :</label>
    <input name="name" id="name" type="text" value="<%= product.name %>">
    <label for="desc">Product description :</label>
    <input id="desc" name="description"  type="text" value="<%= product.description %>">
    <label for="price">Product  price :</label>
    <input id="price" name="price" type="text" value="<%= product.price %>">
    <label  for="image">Product image :</label>
    <input name="image" id="image" type="text" value="<%= product.image %>">
    <button>Add product</button>
</form>
</div>
